@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


body {
    margin: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*******************
       FORM
********************/

form {
    padding: 8%;
    border-right: 2px solid #f4ecff;
}

.form-single {
    position: relative;
    margin-bottom: 20px;
}

.form-single input {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    outline: none;
}


.form-single.success input {
    border-color: #2ec76c;
}

.form-single.error input {
    border-color: #e74b3b;
}

.form-single i {
    visibility: hidden;
    position: absolute;
    top: calc(30px + (30px - 16px) / 2 + 1px);
    right: 10px;
}

.form-single.success i.fa-check-circle {
    color: #2ec76c;
    visibility: visible;
}

.form-single.error i.fa-exclamation-circle {
    color: #e74b3b;
    visibility: visible;
}

.form-single small {
    margin-left: 5px;
    color: #e74b3b;
    visibility: hidden;
}

.form-single.error small {
    visibility: visible;
}

form button {
    border: 2px solid #6815df;
    background-color: #6815df;
    border-radius: 5px;
    color: #fff;
    width: 102%;
    height: 35px;
    transition: .5s;
    outline: none;
}

form button:hover {
    background-color: #8f4dff;
}

/*******************
       TABLE
********************/

table {
    border-collapse: collapse; /* ? */
    overflow: hidden;
    width: 40%;
}

table caption {
    font-variant: small-caps;
    font-size: 50px;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    margin-bottom: 20px;
}

thead, tbody {
    font-family: 'Lato', sans-serif;

}

thead th[scope = col]{
    background-color: #6815df;
    color: white;
}

tr {
    height: 50px;
}

tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f4ecff;
    cursor: pointer;
}

td {
    position: relative;
    left: 800px;
    top: 0;
    padding: 5px;
    text-align: center;
    animation: entry 2s forwards;
}

@keyframes entry {
    0% {
        left: 800px;
    }
    100% {
        left: 0;
    }
}

/*******************
       MEDIA
********************/

@media (max-width: 1460px) {
    section {
        flex-direction: column;
    }

    form {
        border-bottom: 2px solid #f4ecff;
        border-right: 0;
        width: 40%;
    }

    table {
        width: 70%;
    }
}


