.container {
    width: 70%;
    margin: 10% auto;
    position: relative;
}

form {
    width: 30%;
    margin: 10% 5%;
    float: left;
}
.form-control {
    margin-bottom: 20px;
    position: relative;
}

.form-control input {
    height: 30px;
    width: 98%;
    margin-top: 10px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    outline: none;
}

.form-control.success input {
    border-color: #2ec76c;
}

.form-control.error input {
    border-color: #e74b3b;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: calc(30px + (30px - 16px) / 2 + 1px);
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ec76c;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74b3b;
    visibility: visible;
}

.form-control small {
    color: #e74b3b;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

form button {
    background-color: #9c9c9c;
    border: #9c9c9c;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 35px;
}

table {
    float: right;
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
}

@media (max-width: 960px) {
    form, table {
        width: 100%;
        float: none;
        margin: 10% 0;
    }

}

th[scope = col],
th[scope = row] {
    background-color: #ececec;
}

th[scope = col] {
    height: 50px;
}

caption {
    font-variant: small-caps;
    font-size: 50px;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

table {
    overflow: hidden;
}

table, td, th {
    border: 1px solid black;
}

td {
    position: relative;
    left: 800px;
    top: 0;
    padding: 5px;
    text-align: center;
    animation: entry 2s forwards;
}

@keyframes entry {
    0% {
        left: 800px
    }
    100% {
        left: 0
    }
}
